In [1]:
# -----------------------------------------------------------------------------
# Author: Dhruv Panchal <dhruvpanchal1491@gmail.com>
# Project: UrbanPiper_Assignment
# Create Date: 2021-04-12
# Update Date:
# Contributors:
# Python Version: 3.8.3
# -----------------------------------------------------------------------------

In [160]:
# Import Packages
import pandas as pd
import os
import xlrd
import numpy as np
import seaborn as sns
import time
import sys
import matplotlib.pyplot as plt
%matplotlib inline

In [164]:
start_time = time.time()
print(start_time)

1618246692.1546843

In [5]:
# Change Directory
os.chdir(r'C:\Users\dhruv\Documents\UrbanPiper\sales-crm-analysis\02_data')
os.getcwd()

                 id  age_in_days  next_reach_out_date  number_of_outlets
count  5.863000e+03  5863.000000           185.000000        5863.000000
mean   2.003714e+09   350.491557         44355.108108         104.600887
std    1.024682e+06   329.953288            88.841941        7416.533507
min    2.001614e+09 -1192.000000         44209.000000           1.000000
25%    2.002778e+09    91.500000         44293.000000           1.000000
50%    2.003950e+09   248.000000         44328.000000           3.000000
75%    2.004686e+09   509.000000         44419.000000           8.000000
max    2.005079e+09  1173.000000         44882.000000      567890.000000
id                        5863
owner                       13
deal_stage                  20
updated_at                2708
created_at                5067
age_in_days                910
deferred_reason              7
not_interested_reasons       3
no_requirement_reasons       3
next_reach_out_date         94
comments                   163
source_of_the_deal          16
head_office_city            59
country                      1
number_of_outlets           97
dtype: int64
id                        5863
owner                     5842
deal_stage                5863
updated_at                5863
created_at                5863
age_in_days               5863
deferred_reason            313
not_interested_reasons      40
no_requirement_reasons      37
next_reach_out_date        185
comments                   235
source_of_the_deal        5566
head_office_city          5697
country                   5863
number_of_outlets         5863
dtype: int64

In [ ]:
# Import Data
df = pd.read_csv("crm_data.csv")

In [10]:
# Need to remap deal_stage unique values since there seem to be some duplicate entries

# Convert next_reachout_date to date format

# Data Type Conversion

# Missing Value Treatment

# Outlier Treatment

# Feature Generation: Categorical and Continuous

# Univariate Report

# Bivariate Report

# Multivariate Report

In [37]:
df1 = df[["id", "updated_at"]].copy()

In [38]:
df1.head()

           id          updated_at
0  2001640758    12/03/2018 21:57
1  2001652776    09/10/2020 11:48
2  2001652912    07/01/2020 11:43
3  2001653793      12/14/18 16:11
4  2001653901  9-21-2020 18:34:00

In [58]:
df["updated_at_2"] = pd.to_datetime(df.updated_at)

In [71]:
df["updated_at_len"] = df.updated_at.str.len()
df["updated_at_2_len"] = df.updated_at_2.astype("str").str.len()

In [73]:
df.describe()

,id,age_in_days,next_reach_out_date,number_of_outlets,updated_at_len,updated_at_2_len
count,5.863000e+03,5863.000000,185.000000,5863.000000,5863.000000,5863.0
mean,2.003714e+09,350.491557,44355.108108,104.600887,16.413781,19.0
std,1.024682e+06,329.953288,88.841941,7416.533507,1.884781,0.0
min,2.001614e+09,-1192.000000,44209.000000,1.000000,13.000000,19.0
25%,2.002778e+09,91.500000,44293.000000,1.000000,16.000000,19.0
50%,2.003950e+09,248.000000,44328.000000,3.000000,16.000000,19.0
75%,2.004686e+09,509.000000,44419.000000,8.000000,18.000000,19.0
max,2.005079e+09,1173.000000,44882.000000,567890.000000,19.000000,19.0

In [81]:
df.updated_at_2.dt.year.describe()

count    5863.00000
mean     2020.37080
std         0.63044
min      2018.00000
25%      2020.00000
50%      2020.00000
75%      2021.00000
max      2021.00000
Name: updated_at_2, dtype: float64

In [82]:
df.updated_at_2.dt.year.value_counts()

2020    3171
2021    2507
2018     148
2019      37
Name: updated_at_2, dtype: int64

In [84]:
df.dtypes

id                                 int64
owner                             object
deal_stage                        object
updated_at                        object
created_at                        object
age_in_days                        int64
deferred_reason                   object
not_interested_reasons            object
no_requirement_reasons            object
next_reach_out_date              float64
comments                          object
source_of_the_deal                object
head_office_city                  object
country                           object
number_of_outlets                  int64
updated_at_2              datetime64[ns]
updated_at_len                     int64
updated_at_2_len                   int64
dtype: object

In [87]:
df["created_at_2"] = pd.to_datetime(df.created_at)

In [88]:
df["created_at_len"] = df.created_at.str.len()

In [90]:
df["created_at_2_len"] = df.created_at_2.astype(str).str.len()

In [92]:
df.describe()

,id,age_in_days,next_reach_out_date,number_of_outlets,updated_at_len,updated_at_2_len,created_at_len,created_at_2_len
count,5.863000e+03,5863.000000,185.000000,5863.000000,5863.000000,5863.0,5863.000000,5863.0
mean,2.003714e+09,350.491557,44355.108108,104.600887,16.413781,19.0,16.457957,19.0
std,1.024682e+06,329.953288,88.841941,7416.533507,1.884781,0.0,1.846802,0.0
min,2.001614e+09,-1192.000000,44209.000000,1.000000,13.000000,19.0,13.000000,19.0
25%,2.002778e+09,91.500000,44293.000000,1.000000,16.000000,19.0,16.000000,19.0
50%,2.003950e+09,248.000000,44328.000000,3.000000,16.000000,19.0,16.000000,19.0
75%,2.004686e+09,509.000000,44419.000000,8.000000,18.000000,19.0,19.000000,19.0
max,2.005079e+09,1173.000000,44882.000000,567890.000000,19.000000,19.0,19.000000,19.0

In [158]:
df["created_at_2_year"] = df.created_at_2.dt.year
df["created_at_2_month"] = df.created_at_2.dt.month
df["created_at_2_day"] = df.created_at_2.dt.day
df["updated_at_2_year"] = df.updated_at_2.dt.year
df["updated_at_2_month"] = df.updated_at_2.dt.month
df["updated_at_2_day"] = df.updated_at_2.dt.day

In [108]:
df[["next_reach_out_date"]][df.next_reach_out_date.notna()]

      next_reach_out_date
140               44462.0
170               44511.0
180               44272.0
206               44307.0
209               44273.0
...                   ...
5748              44419.0
5785              44322.0
5803              44343.0
5807              44294.0
5841              44410.0

[185 rows x 1 columns]

In [112]:
df[["next_reach_out_date"]][pd.to_datetime(df.next_reach_out_date).notna()]

      next_reach_out_date
140               44462.0
170               44511.0
180               44272.0
206               44307.0
209               44273.0
...                   ...
5748              44419.0
5785              44322.0
5803              44343.0
5807              44294.0
5841              44410.0

[185 rows x 1 columns]

In [117]:
df["next_reach_out_date_2"] = pd.to_datetime(df.next_reach_out_date, infer_datetime_format=True)

In [159]:
df[["next_reach_out_date", "next_reach_out_date_2"]][pd.to_datetime(df.next_reach_out_date).notna()]

      next_reach_out_date next_reach_out_date_2
140               44462.0            2021-09-23
170               44511.0            2021-11-11
180               44272.0            2021-03-17
206               44307.0            2021-04-21
209               44273.0            2021-03-18
...                   ...                   ...
5748              44419.0            2021-08-11
5785              44322.0            2021-05-06
5803              44343.0            2021-05-27
5807              44294.0            2021-04-08
5841              44410.0            2021-08-02

[185 rows x 2 columns]

In [141]:
df["next_reach_out_date_2"] = df["next_reach_out_date"]\
    .apply(lambda x: xlrd.xldate_as_datetime(x, 0) if ~np.isnan(x) else x)

In [142]:
df[pd.to_datetime(df.next_reach_out_date).notna()].head()

,id,owner,deal_stage,updated_at,created_at,age_in_days,deferred_reason,not_interested_reasons,no_requirement_reasons,next_reach_out_date,...,updated_at_2,updated_at_len,updated_at_2_len,created_at_2,created_at_len,created_at_2_len,created_at_2_year,created_at_2_month,created_at_2_day,next_reach_out_date_2
140,2003251165,DS,Deal Deferred,3-15-2021 21:59:00,04-19-2019 17:48:00,701,No Response,NaN,NaN,44462.0,...,2021-03-15 21:59:00,18,19,2019-04-19 17:48:00,19,19,2019,4,19,2021-09-23
170,2003755782,AR,Deal Deferred,03/10/2021 12:24,10-16-2019 20:22:00,521,Opted For Competitor,NaN,NaN,44511.0,...,2021-03-10 12:24:00,16,19,2019-10-16 20:22:00,19,19,2019,10,16,2021-11-11
180,2003789576,DS,Deal Deferred,3-18-2021 21:09:00,10/28/19 16:25,509,No Response,NaN,NaN,44272.0,...,2021-03-18 21:09:00,18,19,2019-10-28 16:25:00,14,19,2019,10,28,2021-03-17
206,2003950239,DS,Deal Deferred,02/08/2021 13:00,12/09/2019 17:38,467,No Response,NaN,NaN,44307.0,...,2021-02-08 13:00:00,16,19,2019-12-09 17:38:00,16,19,2019,12,9,2021-04-21
209,2003960172,DS,Deal Deferred,01/27/21 18:37,12/13/19 18:24,463,No Requirement,NaN,Low Order Volume,44273.0,...,2021-01-27 18:37:00,14,19,2019-12-13 18:24:00,14,19,2019,12,13,2021-03-18

In [140]:
df.dtypes

id                                 int64
owner                             object
deal_stage                        object
updated_at                        object
created_at                        object
age_in_days                        int64
deferred_reason                   object
not_interested_reasons            object
no_requirement_reasons            object
next_reach_out_date              float64
comments                          object
source_of_the_deal                object
head_office_city                  object
country                           object
number_of_outlets                  int64
updated_at_2              datetime64[ns]
updated_at_len                     int64
updated_at_2_len                   int64
created_at_2              datetime64[ns]
created_at_len                     int64
created_at_2_len                   int64
created_at_2_year                  int64
created_at_2_month                 int64
created_at_2_day                   int64
next_reach_out_date_2     datetime64[ns]
dtype: object

In [146]:
df.source_of_the_deal.unique()

array(['POS Partners', 'Phone', 'Cold call/email', 'Web Form', nan,
       'Food Aggregators', 'Chat', 'Referral', 'Ola Database',
       'Aahar 2020', 'Drip campaign', 'Grocery Database 10th June',
       'Channel Partner', 'Lead Sourcing - Food Aggregators',
       'Support @ UrbanPiper', 'LinkedIn', 'Email'], dtype=object)

In [147]:
df.head_office_city.unique()

array(['Bangalore', 'Hyderabad', 'Pune', 'Mumbai', 'Delhi NCR', 'Chennai',
       'Others', 'Jaipur', 'Lucknow', 'Coimbatore', 'Jalandhar',
       'Kolkata', 'Kochi', 'Chandigarh', 'Gandhi Nagar', nan, 'Amritsar',
       'Ludhiana', 'Indore', 'Vadodara', 'Ahmedabad', 'Vijayawada',
       'Bhubaneswar', 'Nagpur', 'Kanpur', 'Bhopal', 'Surat', 'Madurai',
       'Nashik', 'Dehradun', 'Jamshedpur', 'Cochin', 'Mysore', 'Ranchi',
       'Jaunpur', 'Vishakhapatnam', 'Salem', 'Pudhucherry', 'Patna',
       'Goa', 'Mangalore', 'Solapur', 'Aizwal', 'Allahabad', 'Siliguri',
       'Guwahati', 'Raipur', 'Jabalpur', 'Hubli', 'Ajmer', 'Vizag',
       'Bilaspur', 'Kota', 'Navsari', 'Agra', 'Aurangabad', 'Trichy',
       'Kozhikode', 'Tirupathi', 'Jodhpur'], dtype=object)

In [150]:
df.dtypes

id                                 int64
owner                             object
deal_stage                        object
updated_at                        object
created_at                        object
age_in_days                        int64
deferred_reason                   object
not_interested_reasons            object
no_requirement_reasons            object
next_reach_out_date              float64
comments                          object
source_of_the_deal                object
head_office_city                  object
country                           object
number_of_outlets                  int64
updated_at_2              datetime64[ns]
updated_at_len                     int64
updated_at_2_len                   int64
created_at_2              datetime64[ns]
created_at_len                     int64
created_at_2_len                   int64
created_at_2_year                  int64
created_at_2_month                 int64
created_at_2_day                   int64
next_reach_out_date_2     datetime64[ns]
dtype: object

In [151]:
df.country.unique()

array(['India'], dtype=object)

In [153]:
df.number_of_outlets.describe()

count      5863.000000
mean        104.600887
std        7416.533507
min           1.000000
25%           1.000000
50%           3.000000
75%           8.000000
max      567890.000000
Name: number_of_outlets, dtype: float64

In [157]:
df.columns

Index(['id', 'owner', 'deal_stage', 'updated_at', 'created_at', 'age_in_days',
       'deferred_reason', 'not_interested_reasons', 'no_requirement_reasons',
       'next_reach_out_date', 'comments', 'source_of_the_deal',
       'head_office_city', 'country', 'number_of_outlets', 'updated_at_2',
       'updated_at_len', 'updated_at_2_len', 'created_at_2', 'created_at_len',
       'created_at_2_len', 'created_at_2_year', 'created_at_2_month',
       'created_at_2_day', 'next_reach_out_date_2'],
      dtype='object')

In [ ]:
execution_time = time.time() -start_time
print(total_time)